<ul>
    <li>
        <small><%= comment.user.name %></small>> : <%= comment.content %>
        <% if(locals.user && (locals.user.id == comment.user.id)) { %>
            <small>
                <a href="/comments/destroy/<%= comment.id %>">X</a>
            </small>
        <% } %>
    </li>
</ul>
