<% if (locals.user) { %> 
    <% for(friend of friends){ %>
        <ul>
            <li>
                <a id="<%= friend.email %>"><%= friend.name %></a>
            </li>
        </ul>
    <% } %>    
<% } %>