
<% for(user of users){ %>
    
    <ul>
        <li>
            <a href="/users/profile/<%=user._id%>">
            <div class="user-list">
                <img src="<%= user.avatar %>" alt="">
                <div class="friends-name"> <%= user.name %></div></div></a>
        </li>
    </ul>
<% } %>    
