<h1>
    Hi, Welcome to Social Services!!
</h1>

<section id="feed-posts">
    <h4>Posts</h4>
    
    <form action="/posts/new-post" id="new-post-form" method="post">
        <textarea name="content" id="" cols="35" rows="3"></textarea>
        <input type="submit" value="Add Post">
    </form>
    
    <div id="posts-list-container">
        <ul class="post-list"> 
            <% for(post of posts){ %>
                <%- include('_post') -%>
            <% } %>
        </ul>
    </div>
</section>
<section>
    <h4>Friends</h4>
    <%- include('_friends') -%>
</section>
<script src="/js/homeScript.js"></script>