<html>
    <head>
        <title>
            Testing out some routings
        </title>
        <style>
            
            body{
                margin: 0%;
            }

            #form{
                width: 500px;
                height: 50px;
                border: 1px solid red;
                margin:auto;
                margin-top: 50px;
            }
        </style>
    </head>
    <body>

        <div id="form">
            <form action="/users/profile/createProfile">
                Name: <input type="text" name="name">
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
        
    </body>
</html>