<div>
    <p>
        your  <span><b>comment: </b></span>  
        <p>
            <%= comment.content %>
        </p>
        <br>
        has been published 
    </p>
</div> 

<!-- Anandi@Mehta1 -->